#kopfleiste {
	list-style-type: none;
	margin: -1%;
	padding: 0;
	overflow: hidden;
	background-color: cadetblue;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	font-size: 22px;
}

#kopfleiste > li {
	float: right;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li font {
	color: white;
}

li a:hover {
	background-color: turquoise;
}